@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">BG Tracker</h1>
    <p class="lead" style="text-align:center">A simple and easy way to manage your daily blood glucose levels.</p>
    <p class="btn btn-primary btn-lg">@Html.ActionLink("Register/Login", "Login", "Account", null, new { Style = "color:White" })</p>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <h2>Track Your Daily Isulin Dosing</h2>
                <p></p>
                <p class="btn btn-primary btn-default">@Html.ActionLink("Track Glucose", "Create", "GlucoseTracker", null, new { Style = "color:White" })</p>
            </div>
            <div class="col-md-4">
                <h2>Food and Drink List</h2>
                <p>Create a custom list of your favorite foods and drinks, for a quick carbohydrate reference!</p>
                <p class="btn btn-primary btn-default">@Html.ActionLink("Add/Create", "Create", "FoodAndDrink", null, new { Style = "color:White" })</p>
            </div>
        </div>
    }
</div>